# client/.dockerignore

# Ignorar módulos de Node.js (serán instalados dentro del contenedor)
node_modules

# Ignorar la carpeta de construcción (será generada dentro del contenedor)
build

# Ignorar archivos de depuración o de configuración local
.env
.env.local
.env.development.local

# Ignorar el caché de npm
.npm

# Ignorar archivos de editor o de control de versiones
.git
.gitignore
.DS_Store