.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* client/src/App.css */
.final-round-section {
    margin-top: 40px; /* Añade un espacio considerable arriba de la sección de la final */
    padding-top: 20px; /* Espacio interno si se quiere un borde superior */
    border-top: 2px solid #ccc; /* Una línea gris clara en la parte superior */
    /* background-color: #f0f8ff; */ /* Opcional: un fondo diferente para la sección final */
    border-radius: 8px; /* Si añades background-color */
}

/* client/src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* client/src/App.css */
.final-round-section {
    margin-top: 40px; /* Añade un espacio considerable arriba de la sección de la final */
    padding-top: 20px; /* Espacio interno si se quiere un borde superior */
    border-top: 2px solid #ccc; /* Una línea gris clara en la parte superior */
    /* background-color: #f0f8ff; */ /* Opcional: un fondo diferente para la sección final */
    border-radius: 8px; /* Si añades background-color */
}

/* Alternatively, a more general h2 rule if you want more space for all h2s */
h2 {
    margin-top: 40px;
}
